/*Universal*/
html {
  position: relative;
  min-height: 100%;
  font-size: 14px;
}

body {
    margin-bottom: 60px;
    background-image: url("../pikachu-bg.jpg");
    background-repeat: repeat;
}

#main {
    min-width: 70%;
    background-color: rgba(240, 240, 240, 0.9);
}

/*bootstrap adjustments*/
.form-group, .btn {
    margin-top: 3px;
}

.footer div {
    white-space: normal;
    line-height: normal;
}

.navbar-expand-sm {
    width: 30%;
}

/*custom classes*/
.disabled {
    cursor: default;
}

.w-70 {
    min-width: 70%;
}

.searchForm {
    max-width: 60%;
    display: inline-flex;
    float: right;
}

.d-i-flex {
    display: inline-flex;
}

#search {
    width: 40%;
}

.welcomePage {
    font-size: 1.2rem;
}

.welcomePage a {
    text-decoration: none;
}

/* media queries */
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 516px) {
    .searchForm {
        width: 35%;
    }

    .navbar-expand-sm {
        width: 60%;
    }
}