/*Universal*/
html {
  position: relative;
  min-height: 100%;
  font-size: 14px;
}

body {
  margin-bottom: 60px;
  background-color: #bebebe;
}

/*bootstrap adjustments*/
.form-group, .btn {
    margin-top: 3px;
}

/*custom classes*/
.disabled {
    cursor: default;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}