@model pokemonCards.Models.Card

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Card</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User" class="control-label"></label>*
                <select asp-for="User" class="form-control form-select" id="userSelect"></select>
                <span asp-validation-for="User" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>*
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Serial" class="control-label"></label>*
                <input asp-for="Serial" class="form-control" />
                <span asp-validation-for="Serial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Holo" class="control-label"></label>*
                <select asp-for="Holo" class="form-control form-select">
                    <option value="none">None</option>
                    <option value="holo">Holo</option>
                    <option value="reverse">Reverse</option>
                </select>
                <span asp-validation-for="Holo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Set" class="control-label"></label>*
                <input asp-for="Set" class="form-control" />
                <span asp-validation-for="Set" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subset" class="control-label"></label>*
                <input asp-for="Subset" class="form-control" />
                <span asp-validation-for="Subset" class="text-danger"></span>
            </div>
                <div class="form-group">
                <label asp-for="Rarity" class="control-label"></label>*
                <input asp-for="Rarity" class="form-control" />
                <span asp-validation-for="Rarity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImgCode" class="control-label"></label>
                <input asp-for="ImgCode" class="form-control" value="N/A" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary me-2" />
                <a class="btn btn-secondary" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
