@model pokemonCards.Models.Card

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Card</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="User" class="control-label"></label>
                <input asp-for="User" class="form-control text-secondary disabled" id="userOption" readonly />
                <span asp-validation-for="User" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>*
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Serial" class="control-label"></label>*
                <input asp-for="Serial" class="form-control" />
                <span asp-validation-for="Serial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Holo" class="control-label"></label>*
                <input asp-for="Holo" class="form-control" />
                <span asp-validation-for="Holo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Set" class="control-label"></label>*
                <input asp-for="Set" class="form-control" />
                <span asp-validation-for="Set" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subset" class="control-label"></label>*
                <input asp-for="Subset" class="form-control" />
                <span asp-validation-for="Subset" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rarity" class="control-label"></label>*
                <input asp-for="Rarity" class="form-control" />
                <span asp-validation-for="Rarity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImgCode" class="control-label"></label>
                <input asp-for="ImgCode" class="form-control" />
            </div>
            <div class="form-group mt-2">
                <a class="btn btn-primary me-2 editSaveButton">Save</a>
                <a class="btn btn-secondary" asp-action="Index">Back to List</a>
            </div>

            <!--Confirm Modal-->
            <div class="modal fade" id="confirmModal">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content" action="#">
                        <div class="modal-header">
                            <div class="modalHeader fw-bold fs-5"></div>
                            <button type="button" class="btn-close btn-secondary" data-bs-dismiss="modal" aria-label="close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container">Are you sure you want to edit <strong id="userContainer"></strong>'s card details?</div>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" value="Yes" data-bs-dismiss="modal" class="btn btn-primary me-2" />
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
