<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - pokemonCards</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/pokemonCards.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="bg-dark text-light mb-3">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom border-dark box-shadow d-i-flex">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand text-info d-none d-md-block" asp-area="" asp-controller="Home" asp-action="Index">Pokemon TC Tracker</a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Cards" asp-action="Index">Cards</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Users" asp-action="Index">Users</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
        <!-- search bar -->
        <div class="input-group searchForm navbar me-2">
            <input id="search" class="form-control" type="search" placeholder="Search for" aria-label="Search">
            <!-- search filter dropdown -->
            <select class="form-select" id="searchFilter">
                <option value="name">Name</option>
                <option value="user">User</option>
                <option value="set">Set</option>
                <option value="rarity">Rarity</option>
            </select>
        </div>
    </header>
    <div class="container" id="main">
        <main role="main" class="pb-3">
            @RenderBody()

            <!--Img Modal-->
            <div class="modal fade" id="imgModal">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content" action="#">
                        <div class="modal-header">
                                <div class="modalHeader fw-bold fs-5"></div>
                                <button type="button" class="btn-close btn-secondary" data-bs-dismiss="modal" aria-label="close"></button>
                        </div>
                        <div class="modal-body">
                              <div class="container imgContainer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <footer class="border-top border-dark footer text-light bg-dark">
        <div class="w-70 container my-1">Any issues or ideas? &#64;foley179 on the discord channel #Brainstorm-with-dan.</div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
